@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-kaisei {
  font-family: "Kaisei Decol", serif;
}


html {
  background-color: rgb(23 23 23);
}

::selection {
  background-color: #000;
  color: #ffffff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #212326 inset;
  -webkit-text-fill-color: #ffffff;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: #1215c9;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 248, 248);
}

::-webkit-scrollbar-thumb:active {
  background: rgb(255, 255, 255);
}

.swiper {
  padding-bottom: 3rem !important;
}

.swiper-slide {
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.sm\:py-52 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}


.xl\:px-56 {
  padding-left: 7rem !important;
  padding-right: 8rem !important;
}

.border-AAsecondary {
  border-color: #7fc4ff;
}

.grwqs {
  border-radius: 1px;
  border-width: 1px;
  color: white;
  width: 97px;
  padding: 10px 4px;
  font-size: 9px !important;
  text-align: center;
  border-color: #7fc4ff;
}

span.text-AAsecondary.font-sans.text-sm.sm\:text-xl {
  color: #7fc4ff;
}

.text-AAsecondary {
  color: #7fc4ff !important;
}

.xl\:w-\[992px\] {
  display: none !important;
}

.py-24 {
  padding-top: 3rem !important;
  padding-bottom: 4rem !important;
}



@media only screen and (max-width: 600px) {

  .text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.text-sm {
  font-size: 12px;
  text-align: center;
  padding: 0px 50px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center !important;
}

.rwef {
  display: none;
}

span.text-gray-500.sm\:text-sm.text-xs {
  margin-left: 50px;
}

} 


@media screen and (max-width: 768px) {
  .swiper-slide {
    width: 100% !important;
  }
}
.swiper-pagination-bullet-active {
  background-color: #fff !important;
}

.swiper-pagination-bullet {
  background-color: #fff !important;
}